body {
	
	font-family: 'PT Serif', serif;
	
}

#heading {
	
	border-bottom: solid 1px red;	
	padding-left: 50px;
	
}

h1, h2 {
	
	font-family: 'anton', sans-serif;
	
}

.greySegment{
	
	background-color: #e8e8e8;	
	
}

.segment{
	
	padding: 20px 30px;
	
	
}


#target {
	
	background-color: black;	
	color: white;
	
}

.txtIn{
	
	padding-left: 15px;	
	
}

.rangeSlider{
	
	position: relative;
	left: 50px;
	padding: 0;
	
}

#submit{
	
	font-family: 'anton', sans-serif;
	font-size: 20px;
	
}

#button{
	
	text-align: center;
	
}


